body{
    color:rgb(238, 248, 255);
    display:flex;
    background-color: #24292e;
    justify-content: center;
    align-items: center;

}

section{
    padding:40px;
    border-radius: 20px;
    width:400px;
    background-color: rgb(100, 106, 106);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    margin:3px;
    padding: 6px;
}

p{
    text-align:center;
    color:rgb(255, 182, 156);
}

.inputs{
    margin: 5px;
}
.cal_btn {
    margin: 5px;
    padding: 6px;
}

h2{
    margin-top: 50px;
}

